<h1>Tenants#new</h1>
<p>Find me in app/views/tenants/new.html.erb</p>

<%= form_for Tenant.new do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :description%>
  <%= f.text_field :description%>
  <%= f.label :email%>
  <%= f.text_field :email%>
  <%= f.label :phone%>
  <%= f.text_field :phone%>
  <%= f.label :nino%>
  <%= f.text_field :nino%>
  <%= f.label :rent_min%>
  <%= f.text_field :rent_min%>
  <%= f.label :rent_max%>
  <%= f.text_field :rent_max%>
  <%= f.label :num_bedrooms%>
  <%= f.text_field :num_bedrooms%>
  <%= f.label :date_needed%>
  <%= f.date_field :date_needed, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  <%= f.label :housing_type%>
  <%= f.select(:housing_type, Tenant.housing_types.keys.map {|housing_type| [housing_type.titleize, housing_type]}) %>
  <%= f.label :property_type%>
  <%= f.select(:property_type, Tenant.property_types.keys.map {|property_type| [property_type.titleize, property_type]}) %>
  <%= f.label :location%>
  <%= f.select(:location, Tenant.locations.keys.map {|location| [location.titleize,location]}) %>
  <%= f.label :referral_agency_id%>
  <%= f.select(:referral_agency_id, ReferralAgency.all.pluck(:email, :id)) %>
  <%= f.submit %>
<% end %>

<%#= react_component("ProfileForm", { aProp: @thingfromeditcontrollermethod }) %>
