<h1>Tenants#show</h1>
<p>Find me in app/views/tenants/show.html.erb</p>
<ul>
  <li>Tenant ID: <%= @tenant.id %></li>
  <li>Tenant Name: <%= @tenant.name %></li>
  <li>Tenant Description: <%= @tenant.description %></li>
  <li>Tenant Email: <%= @tenant.email %></li>
  <li>Tenant Phone: <%= @tenant.phone %></li>
  <li>Tenant NINO: <%= @tenant.nino %></li>
  <li>Tenant Rent Min: <%= @tenant.rent_min %></li>
  <li>Tenant Rent Max: <%= @tenant.rent_max %></li>
  <li>Tenant Housing Type: <%= @tenant.housing_type %></li>
  <li>Tenant Property Type: <%= @tenant.property_type %></li>
  <li>Tenant Num Bedrooms: <%= @tenant.num_bedrooms %></li>
  <li>Tenant Location: <%= @tenant.location %></li>
  <li>Tenant Referral Agency ID: <%= @tenant.referral_agency_id %></li>
  <li>Tenant Date Needed: <%= @tenant.date_needed %></li>
</ul>
<br>
<br>
Tenant Applications
<ul>
  <% @applications.each do |a| %>
    <%if not a.hidden %>
      <li>Application ID: <%= a.id %></li>
      <li>Application Status: <%= a.status %></li>
      <li>Application Property ID: <%= a.property_id %></li>
      <li>Application Info ID: <%= a.info_id %></li><br>
    <% end %>
  <% end %>
</ul>
<%= link_to "New Application", new_application_path %><br>
<%= link_to "Update", tenant_path(@tenant), :method => :patch %>
