<h1>Applications#edit</h1>
<p>Find me in app/views/applications/edit.html.erb</p>

<%= form_for @application do |f| %>
  <%= f.label :status%>
  <%= f.text_field :status%>
  <%= f.label :property_id%>
  <%= f.text_field :property_id%>
  <%= f.label :info_id%>
  <%= f.text_field :info_id%>
 
  <%= f.submit %>
<% end %>