<div class="small-frame" style="padding-top:50px; padding-bottom: 80px;">
	<%= image_tag("logo.png", :alt => "logo", :class=>"logo") %>
	<h2 style="margin-bottom: 20px; margin-top: -20px;">Forgot your password?</h2>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

    <%= f.email_field :email, class: "login-field", placeholder: "Email", style: "border-style: solid; border-width: 1px; border-color: #D9D9D9; margin-bottom: 20px;", autofocus: true, autocomplete: "email" %>

    <div class="actions" style="margin-right: 15px; margin-bottom: 15px; width: 285px;">
		    <%= f.submit "Send Password Link", class: "button", style: "background-color: #1890FF;" %>
		 </div>

	  <div style="display: flex; margin-bottom: 50px;">
			<%- if controller_name != 'sessions' %>
			  <%= link_to "Log in", new_session_path(resource_name)%><br />
			<% end -%>
      <p>&nbspor&nbsp</p>
			<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
			<% end -%>
    </div>
	<% end %>

</div>
