<div class="small-frame">
	<%= image_tag("logo.png", :alt => "logo", :class=>"logo") %>
	<h2 style="margin-bottom: 20px;">Forgot your password?</h2>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

    <%= f.email_field :email, class: "login-field", placeholder: "Email", style: "border-style: solid; border-width: 1px; border-color: #D9D9D9; margin-bottom: 20px;", autofocus: true, autocomplete: "email" %>

    <div class="actions" style="margin-right: 15px; margin-bottom: 15px; width: 285px;">
		    <%= f.submit "Send Password Link", class: "button", style: "background-color: #1890FF;" %>
		 </div>

	  <div style="display: flex; margin-bottom: 50px;">
			<div class="mb4" style="margin-right: 160px; margin-top: 5px;">
				<%- if controller_name != 'sessions' %>
				  <%= link_to "Log in", new_session_path(resource_name)%><br />
				<% end -%>
			</div>
			<div class="mb4" style="margin-top: 5px;">
				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
				<% end -%>
			</div>
		</div>

	<% end %>

</div>
