<%= form_with(model: @referral_agency, local: true) do |form| %>
  <%= react_component("RAView", props={ id: @referral_agency.id, name: @name, tagValues: @tag_values }) %>
<% end %>

<div>
  <h3><%= @referral_agency.name %></h3>
  <p> Tenant IDs: </p>
  <% @tenants.each do |tenant| %>
	<p><%= tenant.id %></p>
  <% end %>
</div>
<%= link_to "Edit", edit_referral_agency_path(@referral_agency) %>
<%= link_to "Delete", referral_agency_path(id: @referral_agency.id), :method => :delete %><br>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

