<!DOCTYPE html>
<html>
  <head>
    <title>Your Rails App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if current_user != nil %>
      <%= react_component("NavBar", props={ id: current_user.id, type: "landlords", email: current_user.email }) %>
    <%end%>
  <%= yield %>
  </body>
</html>
